@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif; /* Example: Use Open Sans for headings */
  }


  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  /* Adjust the footer's CSS to ensure it stays at the bottom */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  